.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.chart-container {
    flex: 1;
  }

  .join-btn {
    font-family: 'Roboto' 'Mono';
    font-style: bold !important;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    border-radius: 2px;
    color: #00ff9f;
    box-shadow: 0 0 0 0 rgb(0 255 159 / 50%);
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(0,255,159,.1);
    border: 1px solid #00ff9f;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    /* background-color: gray; */
    background-image: url('./assets/mock-background.png');
}